body {
	background-color: white;
}

.loginBodyBG {
	background-color: aliceblue;
}

.gloablFonts {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		AppleGothic, sans-serif;
	font-weight: normal;
	color: #566573;
}


.failedMessage{
	color:red; font-size: 13px; text-align: left; padding-left:3%;
}

/*BootStrap -- Login page*/
/*bootstrap class override for login page only*/
.form-control {
	border-radius: 0px;
	margin: 12px 3px;
	height: 40px;
}

/*for logintemplate blue*/
.grayBody {
	background-color: #E9E9E9;
}

.loginbox {
	margin-top: 5%;
	border-top: 6px solid #0088D8;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.12), 0 -2px 10px -2px
		rgba(0, 0, 0, 0.12);
}

.singtext {
	font-size: 28px;
	color: #0088D8;
	font-weight: 500;
	letter-spacing: 1px;
}

.submitButton {
	background-color: #0088D8;
	color: #fff;
	margin-top: 12px;
	margin-bottom: 10px;
	padding: 10px 0px;
	width: 100%;
	margin-left: 2px;
	font-size: 16px;
	border-radius: 0px;
	outline: none;
}

.submitButton:hover, .submitButton:focus {
	color: #fff;
	outline: none;
}

.body-container {
	margin-left: 30%;
}
 