<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>ING Online Banking | Dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="/ing/onlinebanking/scripts/libs/jquery/jquery_min_3-2-1.js"></script>
<script src="/ing/onlinebanking/scripts/libs/bootstrap/bootstrap_min_3-3-7.js"></script>
<link type="text/css" href="/ing/onlinebanking/styles/libs/bootstrap_min_3-3-7_css.css" rel="stylesheet" />
<link type="text/css" href="/ing/onlinebanking/styles/appcustomstyles.css" rel="stylesheet" />  
</head>
<body class="dashboard">
       <div class="container">  
            <div class="col-lg-9 col-md-6 col-sm-8">
            <br />
            <h1>ING Online Banking</h1>
            <h3>Dashboard</h3>
            <br />
            Welcome, <b><span th:text="${userEmail}"></span></b>
       		<br/><br/>
       		Good News......!!!!
       		Click here to <a href="/ing/onlinebanking/savings-account/registration">open a savings account with us</a> if you don't have one yet.
       		Please note that savings accounts can be opened only on Monday to Friday from 8:00 AM to 5:00 PM. 
            <br /><br/>
			<div class="failedMessage"><span th:text="${message}"></span></div>
			<br/><br/>
			Products you owe, click on the links to view the details.
			<ul>
				<li><a href="#">Personal Health Insurance</a></li>
				<li><a href="#">Family Dependent Health Insurance</a></li>
				<li><a href="#">Digital E-Vallet</a></li>
				<li><a href="#">Global Demat Account</a></li>
			</ul> 
			
            </div>
            
        </div>
        <br />	
	
</body>
</html>