<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>ING Online Banking | Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="/ing/onlinebanking/scripts/libs/jquery/jquery_min_3-2-1.js"></script>
<script src="/ing/onlinebanking/scripts/libs/bootstrap/bootstrap_min_3-3-7.js"></script>
<link type="text/css" href="/ing/onlinebanking/styles/libs/bootstrap_min_3-3-7_css.css" rel="stylesheet" />
<link type="text/css" href="/ing/onlinebanking/styles/appcustomstyles.css" rel="stylesheet" />  
</head>
<body class="loginBodyBG">
	
	
       <div class="container body-container">  
            
            <div class="col-lg-6 col-md-6 col-sm-8">
            <br />
            <form action="/ing/onlinebanking/userlogin" method="post" id="userloginForm">
                <div class="row loginbox">                    
                    <div class="col-lg-12">
                        <span class="singtext" >Sign in to ING Online Banking</span>   
                    </div>
					<div class="failedMessage" id="loginFailedMessage"><span th:text="${message}"></span></div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <input class="form-control" type="text" placeholder="Please enter your email id" maxlength="50" spellcheck="false" required="required" name="userName"/> 
                    </div>
                    <div class="col-lg-12  col-md-12 col-sm-12">
                        <input class="form-control" type="password" placeholder="Please enter password" maxlength="16" spellcheck="false" required="required" name="userPassword"/>
                    </div>
                    <div class="col-lg-12  col-md-12 col-sm-12">
                        <input type="submit" value="Submit" id="loginSubmitBtn" class="btn  submitButton"/>
                    </div>                     
                </div>
              </form>
                
                <br />                
                <br />

            </div>
            
        </div>
        <br />	
	
</body>
</html>