<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>ING Online Banking | Savings Account Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="/ing/onlinebanking/scripts/libs/jquery/jquery_min_3-2-1.js"></script>
<script src="/ing/onlinebanking/scripts/libs/bootstrap/bootstrap_min_3-3-7.js"></script>
<link type="text/css" href="/ing/onlinebanking/styles/libs/bootstrap_min_3-3-7_css.css" rel="stylesheet" />
<link type="text/css" href="/ing/onlinebanking/styles/appcustomstyles.css" rel="stylesheet" />  
</head>
<body class="dashboard">
       <div class="container">  
            <div class="col-lg-9 col-md-6 col-sm-8">
            <br />
            <h1>ING Online Banking</h1>
            <h3>Savings Account Registration</h3>
            <br />
            Welcome, <b><span th:text="${userEmail}"></span></b>
       		<br/><br/>
       		<div class="failedMessage"><span th:text="${message}"></span></div>
       		<br/>
       		
       		<form method="post" action="/ing/onlinebanking/savings-account/registration">
       		
       			<input type="hidden" name="emailId" th:value="${userEmail}">
       		
       			<span>Savings Account Category: </span><select name="accountCategory">
       				<option value="">Please select</option>
       				<option value="SAVINGS_ACCT_BASIC">Basic Savings Account</option>
        			<option value="SAVINGS_ACCT_SILVER">Premium Savings Account (SILVER)</option>
        			<option value="SAVINGS_ACCT_GOLD">Premium Savings Account (GOLD)</option>
        			<option value="SAVINGS_ACCT_DIAMOND">Premium Savings Account (DIAMOND)</option>
       			</select>
       		
       		<input type="submit" value="Submit"/>
       		
       		</form>
       		
            </div>
            
        </div>
        <br />	
	
</body>
</html>